<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Lightweight, open-source site uptime monitoring." />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="https://github.com/pingplop/pingplop/raw/main/static/favicon.svg" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net" />
        <link rel="stylesheet" href="/assets/styles.css" />
        <script src="/assets/main.js"></script>
        <script
            src="https://unpkg.com/htmx.org@1.9.9"
            integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
            crossorigin="anonymous"
        >
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}
        <a href="#main" class="skiplink">Skip to main content</a>
        {% endblock %}
    </body>
</html>
