<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pingplop</title>
        <link rel="stylesheet" href="/assets/styles.css" />
        <script
            src="https://unpkg.com/htmx.org@1.9.9"
            integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
            crossorigin="anonymous"
        >
        </script>
        {% block head %}{% endblock %}
    </head>
    <body class="h-screen w-screen bg-gray-50 dark:bg-black">
        <div class="mx-auto flex h-full min-h-screen w-full flex-col">
            <header class="mb-auto w-full" aria-hidden="true"></header>
            {% block content %}
            <a href="#main" class="skiplink">Skip to main content</a>
            {% endblock %}
            <footer class="mt-auto py-5 text-center">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <p class="text-sm text-gray-600 dark:text-gray-300">
                        &copy; 2023 Pingplop. All Rights Reserved.
                    </p>
                </div>
            </footer>
        </div>
    </body>
</html>
