JWT_SECRET=
DATABASE_URL=sqlite://pingplop.db
EMAIL_PROVIDER=smtp
EMAIL_SMTP_HOST=host.docker.internal
EMAIL_SMTP_PORT=1025
EMAIL_SMTP_USERNAME=null
EMAIL_SMTP_PASSWORD=null
EMAIL_SMTP_ENABLE_TLS=false
EMAIL_FROM_NAME=Administrator
EMAIL_FROM_ADDRESS=admin@example.com
