# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.pnpm-store
node_modules
dist
dist-ssr
*.local
.wireit

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.idea
.DS_Store
.DS_Store?
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# envars
.env*
!.env*.example
!.env.docker

# Project
target/
data*.db
pingplop*.db

# Web app
crates/server/static/css/
crates/server/static/js/

# fly.toml
fly*.toml*
!fly*.example.toml
