{% extends "layouts/base.html" %}

{% block title %}Signin - Pingplop{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gray-100">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="/">
        <img class="mx-auto h-10 w-auto" src="https://demo.pingplop.com/assets/logo-light-LoNmiN8X.svg" alt="Pingplop">
    </a>
    <h2 class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">
        Forgot password?
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="POST" action="">
        <div hx-target="this" hx-swap="outerHTML">
            <label for="email" class="sr-only">Email address</label>
            <div class="mt-2">
                <input hx-post="/contact/email" hx-indicator="#ind" id="email" name="email" type="text" required class="input input-md w-full" placeholder="Email address">
            </div>
            <img id="ind" src="https://htmx.org/img/bars.svg" class="htmx-indicator"/>
        </div>
      <div>
        <button type="submit" class="flex w-full btn btn-primary">
            Continue
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm dark:text-gray-400">
      <span>Remember your password?</span>
      <a href="/login" class="font-semibold leading-6 text-primary-600 hover:text-primary-500">Sign in</a>
    </p>
  </div>
</div>
{% endblock %}
