{% extends "layouts/base.html" %}

{% block title %}Signin - Pingplop{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <a href="/">
        <img class="mx-auto h-10 w-auto" src="https://demo.pingplop.com/assets/logo-light-LoNmiN8X.svg" alt="Pingplop">
    </a>
    <h2 class="mt-8 text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">
        Forgot password?
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="POST" action="" class="space-y-4">
        <div class="relative">
        <input type="email" id="hs-floating-input-email-value" class="peer p-4 block w-full border-gray-200 rounded-lg text-sm placeholder:text-transparent focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600
        focus:pt-6
        focus:pb-2
        [&:not(:placeholder-shown)]:pt-6
        [&:not(:placeholder-shown)]:pb-2
        autofill:pt-6
        autofill:pb-2" placeholder="you@example.com">
        <label for="hs-floating-input-email-value" class="absolute top-0 start-0 p-4 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
            peer-focus:text-xs
            peer-focus:-translate-y-1.5
            peer-focus:text-gray-500
            peer-[:not(:placeholder-shown)]:text-xs
            peer-[:not(:placeholder-shown)]:-translate-y-1.5
            peer-[:not(:placeholder-shown)]:text-gray-500">Email address</label>
        </div>
      <div>
        <button type="submit" class="w-full items-center justify-center py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-800 text-white hover:bg-gray-900 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 dark:bg-white dark:text-gray-800">
            Continue
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm dark:text-gray-400">
      <span>Remember your password?</span>
      <a href="/login" class="font-semibold leading-6 text-primary-600 hover:text-primary-500">Sign in</a>
    </p>
  </div>
</div>
{% endblock %}
