{% extends "layouts/base.html" %}

{% block title %}Signin - Pingplop{% endblock %}

{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://demo.pingplop.com/assets/logo-light-LoNmiN8X.svg" alt="Pingplop">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight dark:text-white">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" method="POST" hx-post="/api/auth/login">
    <div hx-target="this" hx-swap="outerHTML">
        <label for="email" class="block text-sm font-medium leading-6 dark:text-white">Email address</label>
        <div class="mt-2">
            <input hx-post="/contact/email" hx-indicator="#ind" id="email" name="email" type="text" required class="input input-md w-full" placeholder="Email address">
        </div>
        <img id="ind" src="https://htmx.org/img/bars.svg" class="htmx-indicator"/>
    </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 dark:text-white">Password</label>
          <div class="text-sm">
            <a href="/forgot-password" class="font-semibold text-primary-600 hover:text-primary-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="input input-md w-full" placeholder="************">
        </div>
      </div>

      <div>
        <button type="submit" class="flex w-full btn btn-primary">
            Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm dark:text-gray-400">
      <span>Don&apos;t have account?</span>
      <a href="/register" class="font-semibold leading-6 text-primary-600 hover:text-primary-500">Register</a>
    </p>
  </div>
</div>
{% endblock %}
