.skiplink {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.skiplink:focus {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.25rem;
    color: #111827;
    text-decoration: none;
    width: auto;
    height: auto;
    border-radius: 0.25rem;
    clip: auto;
}
