<header class="mx-auto mb-4 flex w-full max-w-2xl items-center justify-between py-4 md:py-8 lg:max-w-none">
    <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-black md:text-3xl" aria-label="logo">
        <img src="https://demo.pingplop.com/assets/logo-light-LoNmiN8X.svg" class="h-7 w-auto text-yellow-500" alt="Pingplop"/>
    </a>
    <nav class="hidden gap-12 lg:flex">
        <!-- <a href="/">
            <span class="text-tremor-default dark:text-dark-tremor-content text-yellow-500 font-semibold transition duration-100 active:text-yellow-700">
                Service Status
            </span>
        </a> -->
        <a href="/">
            <span class="text-tremor-default dark:text-dark-tremor-content text-gray-600 hover:text-yellow-500 font-semibold transition duration-100 active:text-yellow-700">
                Service Status
            </span>
        </a>
        <a href="/maintenance">
            <span class="text-tremor-default dark:text-dark-tremor-content text-gray-600 hover:text-yellow-500 font-semibold transition duration-100 active:text-yellow-700">
                Maintenance
            </span>
        </a>
        <a href="/incidents">
            <span class="text-tremor-default dark:text-dark-tremor-content text-gray-600 hover:text-yellow-500 font-semibold transition duration-100 active:text-yellow-700">
                Previous Incidents
            </span>
        </a>
    </nav>
    <div class="flex gap-4">
        <div class="hidden lg:inline-block">
            <a href="/login" type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                Sign in
            </a>
        </div>
        <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-2.5 py-2 text-sm font-semibold text-gray-500 ring-yellow-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
            <span class="i-lucide-menu h-6 w-6"></span>
            <span>Menu</span>
        </button>
    </div>
</header>
